@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belleza&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
h3{
    align-items:center;
}
header{
    max-width: 100%x;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content:space-around;
    background: rgb(240, 236, 236);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}
header .logo img{
    width: 100px;
    margin: 0 60px;
}
header .menu{
    display: flex;
}
header .menu ul{
    display: flex;
    padding: 0 150px;
}
header .menu ul li{
    list-style: none;
    padding: 0 30px;
}
header .menu ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bolder;
    font-family: 'Belleza', sans-serif;
    color: #a17b49;
    transition: all 0.3s;
}
header .menu ul li a:hover{
    color: #F2D2A3;
    text-decoration: underline;
}
header .menu-mobile{
    display: none;
}
header .btn{
    display: none;
}
/*      SECTION       */
section .container{
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
/*      HOME       */
#home .container{
    background: url(background.PNG) no-repeat;
    background-size: cover;
}
#home .container .content{
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 60px;
}
#home .container .content h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 5px;
    margin-top: 50px;
    
    color: rgb(7, 165, 144);
}
#home .container .content p{
    font-size: 1.3rem;
    color: rgb(7, 165, 144);
    margin-bottom: 50px;
    margin-top: 10px;
    font-family: 'Belleza', sans-serif;
}

#home .container .content .button{
    padding-top: -10px ;
}
#home .container .content .button button{
    padding: 10px 20px;
    border: none;
    background:#B48C56 ;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    transition: all 0.5s ease;
    cursor: pointer;
    
}
#home .container .content .button button:hover{
    transform: scale(1.1);
}
#home .container .content button.btn2{
    background: brown;
    padding: 10px 20px;
    position: relative;
    right: 5px;
}

/*      news       */

#news .container{
    background-image: linear-gradient(to bottom, lightsalmon, white);
    background-size: 100% 100%;
}
#news .container .title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#news .container .title .line{
    width: 150px;
    height: 2px;
    background: #B48C56;
}
#news .container .title h1{
    margin-top:20px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 15px;
}
#news .container .content{
    width: 100%;
    height: -20vh;
    display: flex;
    justify-content: space-evenly;
}
#news .container .content .box{
    width: 20%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 -200px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    transition: 0.3s
}
#news .container .content .box h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #B48C56;
    padding: 5px 20px;
    color: #fff;
}
#news .container .content .box:hover{
    background: rgba(48, 39, 37, 0.9);
    height: 50vh;
}
#news .container .content .box img{
    width: 250px;
    padding-top: 5px;
}
#news .container .content .box h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 5px;
    margin-top: 50px;
    color: #737373;
}
#news .container .content .box:hover h1{
    color: #ffffff;
}
#news .container .content .box p{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    font-weight: 600;
    color: #B48C56;
    letter-spacing: 5px;
    margin-top: 10px;
}


/*      footer       */

#footer .container{
    background: linear-gradient(to bottom,  white,lightsalmon);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#footer .container .content{
    width: 90%;
    height: 40vh;
    margin-top: 500px;
    background:#F2D2A3 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer .container .content .left{
    width: 40%;
    margin-left: 60px;
}
#footer .container .content .left h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.2rem;
    font-weight: 200;
    padding: 0 20px;
    letter-spacing: 5px;
}
#footer .container .content .left p{
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    margin-top: 50px;
    padding: 0 20px;
}
#footer .container .content .right{
    width: 40%;
}
#footer .container .content .right input{
    padding: 10px 60px;
    border: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 1.1rem;
    outline: none;
}
#footer .container .content .right button{
    padding: 10px 35px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 1.1rem;
    border: none;
    background: #302725;
    color: #fff;
    cursor: pointer;
}
#footer .container .info{
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
#footer .container .info .box{
    display: flex;
    flex-direction: column;
}
#footer .container .info .box h1{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom:5px;
}
#footer .container .info .box p{
    font-family: 'Belleza', sans-serif;
    margin-top: 10px;
    color: brown;
}
#footer .container .info .box a{
    font-family: 'Belleza', sans-serif;
    margin-top: 10px;
    text-decoration: none;
    color: brown;
}
#footer .container .info .box ion-icon{
    font-size: 1.6rem;
}
#footer .container .info .box ion-icon:hover{
    color: #B48C56;
}
#footer .container .line{
    width: 80%;
    height: 1px;
    background: #B48C56;
    margin-top: 50px;
}
#footer .container .copyright p{
    font-family: 'Belleza', sans-serif;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #302725;
}

/*      HOME - LOGIN       */
#home .container-login{
    background: linear-gradient(to bottom, rgb(240, 236, 236), lightsalmon, white);
    background-size: cover;
}
#home .container-login .content-login{
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 60px;
}
#home .container-login .content-login h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 5px;
    margin-top: 50px;
    
    color: rgb(7, 165, 144);
}
#home .container-login .content-login p{
    font-size: 1.3rem;
    color: rgb(7, 165, 144);
    margin-bottom: 50px;
    margin-top: 10px;
    font-family: 'Belleza', sans-serif;
}

#home .container-login .content-login .button{
    padding-top: -10px ;
}
#home .container-login .content-login .button button{
    padding: 10px 20px;
    border: none;
    background:#B48C56 ;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    transition: all 0.5s ease;
    cursor: pointer;
}
#home .container-login .content-login .button button:hover{
    transform: scale(1.1);
}
#home .container-login .content-login button.btn2{
    background: brown;
    padding: 10px 20px;
    position: relative;
    right: 5px;
}


/*      responsive       */

@media screen and (max-width: 1440px){
    header .menu ul li{
        padding: 0 15px;
    }
    header .menu ul li a{
        font-size: 1.1rem;
    }
    #about .container .title{
        padding-top: 80px;
        margin-left: 60px;
    }
    #about .container .title .call{
        top: 50px;
    }
    #news .container .content .box{
        height: 55vh;
    }
    
}
@media screen and (max-width: 1024px){

    /*      header       */

    header{
        background: rgb(240, 236, 236);
        justify-content:space-between;
        padding: 0 40px;
    }
    header .menu{
        display: none;
    }
    header .menu-mobile{
        width: 250px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        right: 0;
    }
    header .menu-mobile ul{
        display: block;
        padding: 70px;
    }
    header .menu-mobile ul li{
        list-style: none;
        padding: 40px 0;
        text-align: center;

    }
    header .menu-mobile ul li a{
        text-decoration: none;
        font-size: 1.3rem;
        font-family: 'Belleza', sans-serif;
        color: #868edb;
        transition: all 0.3s;
    }
    header .menu-mobile ul li a:hover{
        color: #F2D2A3;
        text-decoration: underline;
    }
    header .btn{
        display: block;
        position: fixed;
        right: 40px;
    }
    header .btn ion-icon{
        color: #12e7e7;
        font-size: 1.5rem;
        cursor: pointer;
    }

    /*      home       */

    #home .container{
        background-size: 105% 100%;
    }
    #home .container .content{
        width: 70%;
    }
    #home .container .content h1{
        font-size: 2rem;
    }
    #home .container .content p{
        font-size: 1.1rem;
    }
    #home .container .content span{
        font-size: 2rem;
    }
    #home .container .content .button{
        margin-top:-50px ;
    }
    #home .container .content .button button{
        font-size: 1.1rem;
    }

     /*      news       */

    #news .container .content .box h3{
        font-size: 1.1rem;
    }
    #news .container .content .box img{
        width: 100px;
    }
    #news .container .content .box h1{
        font-size: 1.2rem;
    }
    #news .container .content .box p{
        font-size: 1.1rem;
    }
    #news .container .box button{
        padding: 8px 18px;
        font-size: 1.1rem;
    }

     /*      footer       */

    #footer .container .content .left h1{
        font-size: 1.6rem;
    }
    #footer .container .content .left p{
        font-size: 1.1rem;
        margin-top: 20px;
    }
    #footer .container .content .right button{
        margin-left: 50px;
    }
    #footer .container .info .box ion-icon{
        font-size: 1.2rem;
    }
    #footer .container .copyright p{
        font-size: 1rem;
    }
}
@media screen and (max-width: 750px){
    #home .container{
        background-size: 130% 100% ;
    }

    #news .container .content{
        min-height: 100vh;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        margin-top: -60px;
}
    #news .container .content .box{
        width: 35%;
        height: 32vh;
        margin: 10px;
    }
    #news .container .content .box:hover{
        height: 40vh;
    }
    #news .container .content .box img{
        width: 75px;
    }
    #news .container .box button{
        padding: 3px;
    }
    #footer .container{
        height: 100vh;
    }
    #footer .container .content{
        flex-direction: column;
    }
    #footer .container .content .left{
        width: 80%;
        margin-left: 0;
        margin-top: 30px;
    }
    #footer .container .content .right{
        width: 80%;
        height: 10vh;
    }
    #footer .container .content .right input{
        margin-top: 20px;
    }
    #footer .container .content .right button{
        padding: 10px 35px;
    }
}
@media screen and (max-width: 680px){
    #home .container{
        background: url(image/fundo.png) norepeat;
        background-size: 100% 100%;
    }

    #news .container{
        background: lightgoldenrodyellow;
        background-size: contain;
        height: 100vh;
    }
    #news .container .box button{
        margin-top: 20px;
    }
    #footer .container{
        background: lightpink;
        background-size: contain;
        height: 100vh;
    }
    #footer .container .content .right{
        height:30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #footer .container .content .right button{
        margin-top: 10px;
    }
    #footer .container .info{
        height: 50vh;
        flex-direction: column;
        align-items: center;
    }
    #footer .container .info .box{
        width: 80%;
        align-items: center;
        margin: 5px;
    }
    #footer .container .info .box h1{
        margin: 0;
    }
    #footer .container .copyright p{
        margin-bottom:20px;
    }
}
@media screen and (max-width: 412px){
    header .menu-mobile{
        width: 210px;
    }
    header .menu-mobile ul li a{
        font-size: 1rem;
    }
    #home .container .content{
        width: 90%;
    }
    #home .container .content h1{
        font-size: 1.5rem;
    }
    #home .container .content p{
        font-size: 0.9rem;
    }
    #home .container .content span{
        font-size: 1.5rem;
    }
    #home .container .content .button{
        padding-top:20px ;
    }
    #home .container .content .button button{
        font-size: 0.9rem;
    }

    #news .container{
        height:100vh;
    }
    #news .container .content{
        height: 50vh;
    }
    #news .container .content .box:hover{
        height: 45vh;
    }
    #footer .container{
        height: 110vh;
    }
    #footer .container .content{
        height: 50vh;
    }
    #footer .container .content .left h1{
        font-size: 1.2rem;
    }
    #footer .container .content .left p{
        font-size: 1rem;
        margin-top: 20px;
    }
    #footer .container .content .right input{
        padding: 5px 30px;
        font-size: 1rem;
    }
    #footer .container .content .right button{
        padding: 5px 35px;
        font-size: 1rem;
    }
    #footer .container .info{
        margin-top: 80px;
    }
    #footer .container .info .box h1{
        font-size: 1rem;
    }
    #footer .container .info .box p{
        font-size: 0.8rem;
    }
    #footer .container .info .box a{
        font-size: 0.8rem;
    }
    #footer .container .info .box ion-icon{
        font-size: 1rem;
    }
    #footer .container .copyright p{
        margin-top: -20px;
        font-size: 0.7rem;
    }
}